.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}
nav{
  font-family: cursive;
  font-size: 2rem;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: antiquewhite;
  height: 80px;
  position:fixed;
}
.gif{
  margin: 25pc;
  margin-top: 55pc;
}
table{
  display: flexbox;
  table-layout:fixed;
}
nav button{
  margin-left: 30pc;
  width:60px;
  border: 75%;
}
.body{
  font-family: cursive;
  text-align: center;
  padding: 2pc;
  margin: 2pc;
  background-color: azure;
  height: 60pc;
  width:72pc;
}